
<!-- Page Header Start -->
<div class="page-header bg-section dark-section parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-3" data-cursor="-opaque">Contact us</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <!-- <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact us</li> -->
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Contact Us Start -->
<div class="page-contact-us">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <!-- Contact Us Image Box Start -->
                <div class="contact-us-image-box wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Contact Us Image Start -->
                    <div class="contact-us-image">
                        <figure class="image-anime">
                            <img src="~/images/School-images/Schoolimages (38).jpeg" alt="">
                        </figure>
                    </div>
                    <!-- Contact Us Image End -->
                    <!-- Contact Info List Start -->
                    <div class="contact-info-list">
                        <!-- Contact Info Item Start  -->
                        <div class="contact-info-item">
                            <div class="icon-box">
                                @* <img src="images/icon-phone-white.png" alt=""> *@
                                <i class="fa-regular fa-phone"></i>
                            </div>
                            <div class="contact-info-item-content">
                                <h3>Contact Us</h3>
                                <p><a href="tel:+919470235587">+91 9470235587</a></p>
                            </div>
                        </div>
                        <!-- Contact Info Item End  -->
                        <!-- Contact Info Item Start  -->
                        <div class="contact-info-item">
                            <div class="icon-box">
                                <img src="images/icon-mail-white.svg" alt="">
                            </div>
                            <div class="contact-info-item-content">
                                <h3>E-mail Address</h3>
                                <p><a href="mailto:gpsagarwa1997@gmail.com">gpsagarwa1997@gmail.com</a></p>
                            </div>
                        </div>
                        <!-- Contact Info Item End  -->
                    </div>
                    <!-- Contact Info List End -->
                </div>
                <!-- Contact Us Image Box End -->
            </div>

            <div class="col-xl-6">
                <!-- Contact Us Form Start -->
                <div class="contact-us-form">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Contact Us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Get in Touch With Our School</h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Contact Form Start -->
                    <div class="contact-form">
                        <form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.2s">
                            <div class="row">
                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone No." required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail Address" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-5">
                                    <textarea name="message" class="form-control" id="message" rows="5" placeholder="Write your message here..."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="contact-form-btn">
                                        <button type="submit" class="btn-default"><span>Send Message</span></button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact Form End -->
                </div>
                <!-- Contact Us Form End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Contact Us End -->
<!-- Google Map Start -->
<div class="google-map">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Our Location</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Visit our campus today and take the first step toward your child’s bright future.</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Google Map Start -->
                <div class="google-map-iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3566.1824569518512!2d84.90842157449468!3d26.64263997164642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399334eebbc46bc7%3A0xd6391afcec9bc9ee!2sGyan%20Sagar%20Public%20School!5e0!3m2!1sen!2sin!4v1764570046950!5m2!1sen!2sin" style="border:0; width: 100%; height: 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <!-- Google Map End -->
            </div>
        </div>
    </div>
</div>
<!-- Google Map End -->
